        hr{
            color: black;
        }

        .garis {
    display: block;
    border-top: 1px solid black;
    margin: 10px 0;
    }

        .product-name {
            font-size: 10.5px;
            color: black;
            font-weight: bolder;
            font-family: Arial, Arial Narrow, sans-serif;
        }

        .product-model {
            /* padding-right: 50px; */
            text-align: left;
            font-size: 9.2px;
            font-family: Arial, sans-serif;
            font-weight: bold;
        }

        .product-colour {
            font-size: 9.2px;
            font-family: Arial, sans-serif;
            color: black;
            font-weight: bold;
        }

        .product-msrp {
            font-size: 9.2px;
            font-family: Arial, sans-serif;
            color: black;
            font-weight: bold;
        }

        .product-sku {
            font-size: 9.2px;
            font-family: Arial, sans-serif;
            color: black;
            font-weight: bold;
        }

        .product-ukuran {
            font-size: 9.2px;
            font-family: Arial, sans-serif;
            color: black;
            font-weight: bold; 
        }

        .product-code {
            font-size: 9.2px;
            text-align: left;
            /* padding-right: 92px; */
            font-family: sans-serif;
            color: black;
            font-weight: bold;
        }

        .product-size {
            font-size: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .product-price {
            font-size: 8px;
        }

        .boxed {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* border: 1px solid #000; */
            padding: 1rem;
            height: 3in;
            width: 2in;
            margin-bottom: 0.2in;
        }

        .barcode { 
            width: 100%;
            height: 100%;
            margin-bottom: 0.2rem;
        }

        .product-size-title {
            font-size: 15px;
        }

        .model-lb {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .model-lb h2,
        .model-lb h3 {
            margin: 0;
        }

        .sku-item {
            margin-bottom: 8rem;
            position: relative;
        }

        .sku-item p {
            padding-left: 15px;
            margin-bottom: 0;
        }

        .qr {
            margin-top: 10px;
            position: flex;
            bottom: 80;
            left: 50%;
            transform: translateX(-25%);
        }

        .qr-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: -10px;
            margin-left: -20px;
        }

        .information{
            text-align: center;
            font-family: Arial, Arial Narrow, sans-serif;
            color: black;
            font-weight: bold;
            font-size: 10.679px;
            background-color: #fff;
            padding: 1px;
            transform: rotate(90deg);
        }
        .pono {
            margin-left: -25px;
            font-family: Arial, sans-serif;
            color: black;
            font-weight: bold;
            font-size: 9.2px;
            background-color: #fff;
            padding: 1px;
            transform: rotate(90deg);
        }
        br {
    margin-bottom: 0.3cm;
}

    @media print {
        .product-name {
            font-family: Arial, Arial Narrow, sans-serif;
            font-size: 10.5px;
            color: black;
            font-weight: bolder;
        }

        .product-model {
            /* padding-right: 50px; */
            text-align: left;
            font-size: 9.2px;
            font-family: Arial, sans-serif;
            color: black;
            font-weight: bold;
        }

        .product-colour {
            font-size: 9.2px;
            font-family: Arial, sans-serif;
            color: black;
            font-weight: bold;
        }

        .product-msrp {
            font-size: 9.2px;
            font-family: Arial, sans-serif;
            color: black;
            font-weight: bold;
        }

        .product-sku {
            font-size: 9.2px;
            font-family: Arial, sans-serif;
            color: black;
            font-weight: bold;
        }

        .product-ukuran {
            font-size: 9.2px;
            font-family: Arial, sans-serif;
            color: black;
            font-weight: bold;
        }

        .product-code {
            font-size: 9.2px;
            text-align: left;
            /* padding-right: 92px; */
            font-family: sans-serif;
            color: black;
            font-weight: bold;
        }

        .product-size {
            font-size: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .product-price {
            font-size: 8px;
        }

        .boxed {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* border: 1px solid #000; */
            padding: 1rem;
            height: 3in;
            width: 2in;
            margin-bottom: 0.2in;
            page-break-inside: avoid;
            /* transform: rotate(90deg); */
        }

        .barcode {
            width: 100%;
            height: 100%;
            margin-bottom: 0.5rem;
        }

        .product-size-title {
            font-size: 15px;
        }

        .model-lb {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .model-lb h2,
        .model-lb h3 {
            margin: 0;
        }

        .sku-item {
            margin-bottom: 4rem;
            position: relative;
        }

        .sku-item p {
            padding-left: 15px;
            margin-bottom: 0;
        }

        .custom-hr {
    border-top: 1px solid black;
}

.garis {
    display: block;
    border-top: 1px solid black;
    margin: 14px 0;
    }


        .qr {
            margin-top: 0px;
            position: flex;
            bottom: 80;
            left: 50%;
            transform: translateX(-25%);
        }

        .qr-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: -10px;
            margin-left: -20px;
        }

        .information {
            text-align: center;
            font-family: Arial, Arial Narrow, sans-serif;
            color: black;
            font-weight: bold;
            font-size: 10.679px;
            background-color: #fff;
            padding: 1px;
            transform: rotate(90deg);
        }
        .pono {
            margin-left: -25px;
            font-family: Arial, sans-serif;
            color: black;
            font-weight: bold;
            font-size: 9.2px;
            background-color: #fff;
            padding: 1px;
            transform: rotate(90deg);
        }
    }