        .product-name {
            font-size: 10px;
            color: black;
        }

        .product-model {
            padding-right: 60px;
            font-size: 8px;
            font-family: 'Times New Roman', Times, serif;
        }

        .product-colour {
            font-size: 8px;
            font-family: 'Times New Roman', Times, serif;
        }

        .product-msrp {
            font-size: 8px;
            font-family: 'Times New Roman', Times, serif;
        }

        .product-sku {
            font-size: 8px;
            font-family: 'Times New Roman', Times, serif;
        }

        .product-ukuran {
            font-size: 8px;
            font-family: 'Times New Roman', Times, serif;
        }

        .product-code {
            font-size: 8px;
            padding-right: 90px;
            font-family: 'Times New Roman', Times, serif;
        }

        .product-size {
            font-size: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .product-price {
            font-size: 8px;
        }

        .boxed {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid #000;
            padding: 1rem;
            height: 7.5cm;
            width: 5cm;
        }

        .barcode { 
            width: 100%;
            height: 100%;
            margin-bottom: 0.2rem;
        }

        .product-size-title {
            font-size: 15px;
        }

        .model-lb {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .model-lb h2,
        .model-lb h3 {
            margin: 0;
        }

        .sku-item {
            margin-bottom: 8rem;
            position: relative;
        }

        .sku-item p {
            padding-left: 15px;
            margin-bottom: 0;
        }

        .sku-item hr {
            color: #000;
        }

        .qr {
            margin-top: 10px;
            position: flex;
            bottom: 80;
            left: 50%;
            transform: translateX(-5%);
        }

        .qr-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: -10px;
            margin-left: -20px;
        }

        .information,
        .pono {
            font-family: sans-serif;
            color: black;
            font-weight: bold;
            font-size: 8px;
            background-color: #fff;
            padding: 1px;
            transform: rotate(90deg);
        }
        br {
    margin-bottom: 0.3cm;
}

    @media print {
        .product-name {
            font-size: 10px;
            color: black;
        }

        .product-model {
            padding-right: 60px;
            font-size: 8px;
            font-family: 'Times New Roman', Times, serif;
        }

        .product-colour {
            font-size: 8px;
            font-family: 'Times New Roman', Times, serif;
        }

        .product-msrp {
            font-size: 8px;
            font-family: 'Times New Roman', Times, serif;
        }

        .product-sku {
            font-size: 8px;
            font-family: 'Times New Roman', Times, serif;
        }

        .product-ukuran {
            font-size: 8px;
            font-family: 'Times New Roman', Times, serif;
        }

        .product-code {
            font-size: 8px;
            padding-right: 90px;
            font-family: 'Times New Roman', Times, serif;
        }

        .product-size {
            font-size: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .product-price {
            font-size: 8px;
        }

        .boxed {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid #000;
            padding: 1rem;
            height: 7.5cm;
            width: 5cm;
            page-break-inside: avoid;
        }

        .barcode {
            width: 125%;
            height: 125%;
            margin-bottom: 0.5rem;
        }

        .product-size-title {
            font-size: 15px;
        }

        .model-lb {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .model-lb h2,
        .model-lb h3 {
            margin: 0;
        }

        .sku-item {
            margin-bottom: 8rem;
            position: relative;
        }

        .sku-item p {
            padding-left: 15px;
            margin-bottom: 0;
        }

        .sku-item hr {
            color: #000;
        }

        .qr {
            margin-top: 0px;
            position: flex;
            bottom: 80;
            left: 50%;
            transform: translateX(-8%);
        }

        .qr-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: -10px;
            margin-left: -20px;
        }

        .information,
        .pono {
            font-family: sans-serif;
            color: black;
            font-weight: bold;
            font-size: 8px;
            background-color: #fff;
            padding: 1px;
            transform: rotate(90deg);
        }
    }